.box{
  margin-bottom: 10px;
}
	
th.dt-center, td.dt-center { 
	text-align: center;
	vertical-align: middle!important;
}


.top-button{
  display: flex;
  justify-content: flex-end;
}

.opciones{
  display:flex;
  justify-content: flex-end;
}

.opciones .btn{
  margin: 0px 5px;
}

.filtrado{
  margin-bottom: 1rem;
}
