<div class="form-group">
  <label for="cliente">Cliente</label>
  <div class="btn-group bootstrap-select form-control"><button type="button" class="btn dropdown-toggle btn-default"
      data-toggle="dropdown" role="button" data-id="idcliente" title="Ana Montenegro"><span
        class="filter-option pull-left">Ana Montenegro</span>&nbsp;<span class="bs-caret"><span
          class="caret"></span></span></button>
    <div class="dropdown-menu open" role="combobox">
      <div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" role="textbox"
          aria-label="Search"></div>
      <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
        <li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null" role="option"
            aria-disabled="false" aria-selected="true"><span class="text">Ana Montenegro</span><span
              class="glyphicon glyphicon-ok check-mark"></span></a></li>
        <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null" role="option"
            aria-disabled="false" aria-selected="false"><span class="text">Jose Martinez</span><span
              class="glyphicon glyphicon-ok check-mark"></span></a></li>
      </ul>
    </div><select name="idcliente" id="idcliente" class="form-control selectpicker" data-live-search="true"
      tabindex="-98">
      <option value="1">Ana Montenegro</option>
      <option value="3">Jose Martinez</option>
    </select>
  </div>
</div>